* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 1em 2em;
}

.container {
    display: flex;
    height: 100vh;
}

.dados {
    padding: 0 5em;
    width: 100vw;
    display: flex;
}

.chart {
    width: 30vw;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: #f59af2;
    padding: 1em 3em;
}